abydos==0.5.0
alabaster==0.7.12
anyio==2.2.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==4.0.0
bottle==0.12.19
brotlipy==0.7.0
cache-decorator==2.1.6
cachetools==4.2.4
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
clips==1.1.0
clipspy==1.0.0
commonmark==0.9.1
compress-json==1.0.7
compress-pickle==2.1.0
contextvars==2.4
cryptography==3.4.7
cycler==0.10.0
Cython==0.29.24
dataclasses==0.8
ddd-subplots==1.0.19
decorator==4.4.2
deflate-dict==1.0.9
defusedxml==0.7.1
dict-hash==1.1.24
docutils==0.16
downloaders==1.0.15
embiggen==0.9.3
ensmallen==0.8.1
entrypoints==0.3
environments-utils==1.0.4
et-xmlfile==1.1.0
extra-keras-metrics==2.0.7
filelock==3.0.12
google-api-core==2.0.1
google-auth==2.2.1
google-cloud==0.34.0
google-cloud-core==2.0.0
google-cloud-storage==1.42.3
google-crc32c==1.2.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
grape==0.0.5
grpcio==1.40.0
huggingface-hub==0.4.0
humanize==3.14.0
idna==3.2
imageio==2.15.0
imagesize==1.2.0
immutables==0.16
importlib-metadata==3.10.0
iniconfig==1.1.1
IPy==1.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.7.1
isodate==0.6.0
jaro-winkler==2.0.0
jedi==0.17.0
jellyfish==0.8.8
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.1
jupyter-console==6.4.3
jupyter-core==4.7.1
jupyter-server==1.4.1
jupyterlab==3.1.7
jupyterlab-pygments==0.1.2
jupyterlab-server==2.7.2
jupyterlab-widgets==1.1.1
keras-mixed-sequence==1.0.28
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.9.0
msgpack==1.0.2
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nltk==3.6.2
notebook==6.4.3
numpy==1.19.2
OGER==1.5
olefile==0.46
ontoRunNER==0.0.1
opencv-python==4.6.0.66
openpyxl==3.0.7
Owlready2==0.34
packaging==21.0
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip==21.3.1
pluggy==1.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.17
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygifsicle==1.0.5
Pygments==2.10.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.2.5
python-dateutil==2.8.2
python-json-logger==2.0.2
python-Levenshtein==0.12.2
pytz==2021.1
pyxDamerauLevenshtein==1.7.0
PyYAML==5.4.1
pyzmq==22.2.1
qtconsole==5.2.2
QtPy==2.0.1
ray==1.6.0
rdflib==5.0.0
reactome2py==3.0.0
recommonmark==0.7.1
redis==3.5.3
regex==2021.10.8
requests==2.26.0
responses==0.10.12
rsa==4.7.2
sacremoses==0.0.53
sanitize-ml-labels==1.0.42
scikit-learn==0.24.2
scipy==1.5.2
Send2Trash==1.5.0
setuptools==52.0.0.post20210125
six==1.16.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
terminado==0.9.4
testpath==0.5.0
textdistance==4.2.1
threadpoolctl==2.2.0
tokenizers==0.12.1
toml==0.10.2
tornado==6.1
tox-docker==0.0.0
tqdm==4.62.2
traitlets==4.3.3
transformers==4.18.0
typing-extensions==3.10.0.0
urllib3==1.26.6
userinput==1.0.17
validate-email==1.3
validate-version-code==1.0.4
validators==0.18.2
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.37.0
widgetsnbextension==3.6.1
xlrd==2.0.1
zipp==3.5.0
